{% include 'dashboard/partials/header.liquid' %}
{% include 'dashboard/partials/sidebar.liquid' %}


    <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="col-xxl-6">
                    <div class="promotion d-flex justify-content-between align-items-center">
                        <div class="promotion-detail">
                            <h3 class="text-white mb-3">Discover, Collect, bid <br> and flip your Own NFT</h3>
                            <p>Digital marketplace for crypto collectibles and non fungable tokens</p>
                            <a href="/explore?token={{token}}" class="btn btn-primary me-3">Explore</a><a href="/wallet?token={{token}}" class="btn btn-secondary">Wallet</a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="card top-bid">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-6"><img src="/dashboard/images/items/11.jpg" class="img-fluid rounded"
                                        alt="..."></div>
                                <div class="col-md-6">
                                    <div class="d-flex align-items-center mb-3"><img src="/dashboard/images/profile/3.png" alt=""
                                            class="me-3 avatar-img">
                                        <div class="flex-grow-1">
                                            <h6 class="mb-0">{{loggedUser.fname}}<span class="circle bg-success"></span></h6>
                                        </div>
                                    </div>
                                    <h4 class="card-title">Balance: {{loggedUser.totalBalance}} ETH</h4>
                                    <div class="d-flex justify-content-between mt-3 mb-3">
                                        <div class="text-start">
                                            <p class="mb-2">Time Log</p>
                                            
                                        </div>
                                        <div class="text-end">
                                            <p class="mb-2">Current Bid :
                                                <!-- --> <strong class="text-primary">{{loggedUser.currentBid}} ETH</strong>
                                            </p>
                                            Running Value:
                                            <h5 class="text-muted">{{loggedUser.runningValue}} ETH</h5>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center"><a href="/add_funds?token={{token}}" class="btn btn-primary">Add Funds</a><a href="/bids?token={{token}}" class="btn btn-secondary">My Bid</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card filter-tab m-0">
                        <div class="card-header">
                            <h4 class="card-title">Trending Bids</h4>
                            <div class="filter-nav"><a class="active" href="javascript:void(0)">Artwork</a></div>
                        </div>
                        <div class="card-body bs-0 p-0 bg-transparent">
                            <div class="row">
                                {% if nfts %}
                                {% for nft in nfts %}
                                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="card items">
                                        <div class="card-body">
                                            <div class="items-img position-relative"><img src="{{nft.nftUrl}}"
                                                    class="img-fluid rounded mb-3" alt=""><img
                                                    src="images/logo-2-light.png" class="creator" width="50" alt=""></div>
                                            <h4 class="card-title">{{nft.name}}</h4>
                                            <p></p>
                                            <div class="d-flex justify-content-between">
                                                <div class="text-start">
                                                    <p class="mb-2">Auction Time</p>
                                                    <h5 class="text-muted">{{nft.duration}}</h5>
                                                </div>
                                                <div class="text-end">
                                                    <p class="mb-2">Open Price : <strong class="text-primary">{{nft.bid}}
                                                            <!-- --> ETH
                                                        </strong></p>
                                                    <h5 class="text-muted">{{nft.profitexp}}
                                                        <!-- --> ETH
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-center mt-2">
                                                <a href="javascript:void(0)" id="bid{{nft.nftid}}" onclick="start_bid(this, '{{nft.nftid}}')" class="btn btn-primary">Place a Bid</a>
                                            </div>
                                            <div class="d-flex justify-content-center mt-1">
                                                <a href="/bid_details?id={{nft.nftid}}&token={{token}}"class="btn btn-danger">Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                                
                                
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-12">
                    <div class="card m-0">
                        <div class="card-header">
                            <h4 class="card-title">Trending Bids</h4>
                        </div>
                        <div class="card-body bs-0 bg-transparent p-0">
                            <div class="row">
                                <div class="col-xxl-12 col-xl-4 col-md-4 col-sm-6">
                                    <div class="stat-widget d-flex align-items-center">
                                        <div class="widget-icon me-3 bg-primary"><span><i
                                                    class="ri-wallet-line"></i></span></div>
                                        <div class="widget-content">
                                            <h3>24K</h3>
                                            <p>Artworks</p>
                                        </div>
                                        <div class="widget-arrow">
                                            <p class="text-success mb-0">+168.001%
                                                <!-- --> <span><i class="bi bi-arrow-up"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-12 col-xl-4 col-md-4 col-sm-6">
                                    <div class="stat-widget d-flex align-items-center">
                                        <div class="widget-icon me-3 bg-secondary"><span><i
                                                    class="ri-wallet-2-line"></i></span></div>
                                        <div class="widget-content">
                                            <h3>82K</h3>
                                            <p>Auction</p>
                                        </div>
                                        <div class="widget-arrow">
                                            <p class="text-danger mb-0">+168.001%
                                                <!-- --> <span><i class="bi bi-arrow-down"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-12 col-xl-4 col-md-4 col-sm-6">
                                    <div class="stat-widget d-flex align-items-center">
                                        <div class="widget-icon me-3 bg-success"><span><i
                                                    class="ri-wallet-3-line"></i></span></div>
                                        <div class="widget-content">
                                            <h3>1K</h3>
                                            <p>Creators</p>
                                        </div>
                                        <div class="widget-arrow">
                                            <p class="text-success mb-0">+168.001%
                                                <!-- --> <span><i class="bi bi-arrow-up"></i></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-8 col-lg-6">
                    <div id="user-activity" class="card">
                        <div class="card-header">
                            <h4 class="card-title">ETH Price</h4>
                        </div>
                        <div class="card-body">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div><canvas height="280" width="670" id="activity"
                                style="display: block; width: 670px; height: 280px;"
                                class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
                <div class=" col-xxl-3 col-xl-4 col-lg-6">
                    <div class="card">
                        <div class="card-header justify-content-center">
                            <h4 class="card-title">Statistics</h4>
                        </div>
                        <div class="card-body bs-0">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand">
                                    <div class=""></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink">
                                    <div class=""></div>
                                </div>
                            </div><canvas height="280" width="295" id="most-selling-items"
                                class="chartjs-render-monitor"
                                style="display: block; width: 295px; height: 280px;"></canvas>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% include 'dashboard/partials/footer.liquid' %}