{% include 'dashboard/partials/header.liquid' %}
{% include 'dashboard/partials/sidebar.liquid' %}

    <div class="content-body">
        <div class="container">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content">
                            <h3>Wallet</h3>
                            <p class="mb-2">Welcome NFTFLIP Wallet</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="breadcrumbs"><a href="#">Home </a><span><i
                                    class="ri-arrow-right-s-line"></i></span><a href="#">Wallet</a></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Balance Details</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="total-balance">
                                        <p>Total Balance</p>
                                        <h2>{{loggedUser.totalBalance}} ETH</h2>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a onclick="confirmWithdrawal(this)" href="javascript:void(0)" class="btn btn-primary" style="margin-right: 2px;">Request Withdrawal</a>
                                            <a href="/add_funds?token={{token}}" class="btn btn-warning">Add Funds</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="balance-stats active">
                                        <p>Last Month</p>
                                        <h3>{{loggedUser.last_month_inc}} ETH</h3>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="balance-stats">
                                        <p>Total Bid</p>
                                        <h3>{{loggedUser.totalBid}} BIDS</h3>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="balance-stats">
                                        <p>Current Deposit</p>
                                        <h3>{{loggedUser.currentDep}} ETH</h3>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="balance-stats">
                                        <p>Total Bid Value</p>
                                        <h3>{{loggedUser.runningValue}} ETH</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Latest Transaction</h4><a href="#">See More</a>
                        </div>
                        {% if histories %}
                        {% for history in histories %}
                        <div class="card-body bs-0 p-0 top-creators-content  bg-transparent">
                            <div class="d-flex justify-content-between creator-widget active  align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="top-creators-user-img me-3"><img src="images/items/item_1.html" alt=""
                                            width="60"></div>
                                    <div class="top-creators-info">
                                        <h5 class="mb-0">{{history.type}}</h5>
                                        <p class="mb-2">{{history.status}}</p>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <h5 class="text-primary">{{history.amount}} ETH</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="card-body bs-0 p-0 top-creators-content  bg-transparent">
                            <div class="d-flex justify-content-between creator-widget active  align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="top-creators-user-img me-3"><img src="images/items/item_1.html" alt=""
                                            width="60"></div>
                                    <div class="top-creators-info">
                                        <h5 class="mb-0 text-center">You've made no transaction yet!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>

    {% include 'dashboard/partials/footer.liquid' %}