<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!---- Website Information ---->
    <title>NFTFLIP - {{title}}</title>
    <meta name="description"
        content="ENFTX is the complete UX & UI dashboard for NFT. Here included bids, collection, wallet, and all user setting pages including profile, application, activity, payment method, api, sign in & sign up etc.">


    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/dashboard/images/favicon.png">
    <link rel="stylesheet" href="/dashboard/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.all.min.js"></script>
</head>

<body class="@@dashboard dark-theme">

    <div id="preloader"><i>.</i><i>.</i><i>.</i></div>

<div id="main-wrapper">


    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="header-content">
                        <div class="header-left">
                            <div class="brand-logo"><a class="mini-logo" href="/dashboard?token={{token}}"><img src="/dashboard/images/logoi.png" alt=""
                                        width="40"></a></div>
                            <div class="search">
                                <form action="#"><span><i class="ri-search-line"></i></span><input type="text"
                                        placeholder="Search Here"></form>
                            </div>
                        </div>
                        <div class="header-right">
                            <!-- <div class="theme-switch"><i class="ri-sun-line"></i></div> -->
    
                            <!-- <div class="dark-light-toggle theme-switch" onclick="themeToggle()">
                                <span class="dark"><i class="ri-moon-line"></i></span>
                                <span class="light"><i class="ri-sun-line"></i></span>
                            </div> -->
    
    
                            <div class="nav-item dropdown notification dropdown">
                                <div data-bs-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                    <div class="notify-bell icon-menu"><span><i class="ri-notification-2-line"></i></span>
                                    </div>
                                </div>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                    class="dropdown-menu notification-list dropdown-menu dropdown-menu-right">
                                    <h4>Recent Notification</h4>
                                    <div class="lists">
                                        <a class="" href="/dashboard?token={{token}}">
                                            <div class="d-flex align-items-center"><span class="me-3 icon success"><i
                                                        class="ri-check-line"></i></span>
                                                <div>
                                                    <p>Account created successfully</p><span>2020-11-04 12:00:23</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="" href="/dashboard?token={{token}}">
                                            <div class="d-flex align-items-center"><span class="me-3 icon fail"><i
                                                        class="ri-close-line"></i></span>
                                                <div>
                                                    <p>2FA verification failed</p><span>2020-11-04 12:00:23</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="" href="/dashboard?token={{token}}">
                                            <div class="d-flex align-items-center"><span class="me-3 icon success"><i
                                                        class="ri-check-line"></i></span>
                                                <div>
                                                    <p>Device confirmation completed</p><span>2020-11-04 12:00:23</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="" href="/dashboard?token={{token}}">
                                            <div class="d-flex align-items-center"><span class="me-3 icon pending"><i
                                                        class="ri-question-mark"></i></span>
                                                <div>
                                                    <p>xs verification pending</p><span>2020-11-04 12:00:23</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">More<i class="ri-arrow-right-s-line"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown profile_log dropdown">
                                <div data-bs-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                    <div class="user icon-menu active"><span><img src="/dashboard/images/profile/3.png" alt=""></span>
                                    </div>
                                </div>
                                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                    <div class="user-email">
                                        <div class="user">
                                            <span class="thumb">
                                                <img src="/dashboard/images/profile/3.png" alt="">
                                            </span>
                                            <div class="user-info">
                                                <h5>{{loggedUser.fname}}</h5>
                                                <span>{{loggedUser.email}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="/profile?token={{token}}">
                                        <span><i class="ri-user-line"></i></span>Profile
                                    </a>
                                    <a class="dropdown-item" href="/wallet?token={{token}}">
                                        <span><i class="ri-wallet-line"></i></span>Wallet
                                    </a>
                                    {% if loggedUser.role == 1 %}
                                    <a class="dropdown-item" href="/set_wallet?token={{token}}">
                                        <span><i class="ri-wallet-line"></i></span>Set Wallet
                                    </a>
                                    {% endif %}
                                    <a class="dropdown-item" href="/settings?token={{token}}">
                                        <span><i class="ri-settings-3-line"></i></span>Settings
                                    </a>
                                    <a class="dropdown-item" href="/activity?token={{token}}">
                                        <span><i class="ri-time-line"></i></span>Activity
                                    </a>
                                    
                                    <a class="dropdown-item logout" href="/logout?token={{token}}">
                                        <i class="ri-logout-circle-line"></i>Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>