<div class="sidebar">
    <div class="brand-logo"><a class="full-logo" href="index-2.html"><img src="/dashboard/images/logoi.png" alt="" width="30"></a></div>
    <div class="menu">
        <ul>
            <li>
                <a href="/dashboard?token={{token}}">
                    <span><i class="ri-layout-grid-fill"></i></span>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="bids.html">
                    <span><i class="ri-briefcase-line"></i></span>
                    <span class="nav-text">Bids</span></a>
            </li>
            {% if loggedUser.role == 1 or loggedUser.role ==2 %}
            <li class="">
                <a href="/add_nft?token={{token}}">
                    <span><i class="ri-heart-line"></i></span>
                    <span class="nav-text">Add Nft</span></a>
            </li>
            {% endif %}
            <li class="">
                <a href="#">
                    <span><i class="ri-star-line"></i></span>
                    <span class="nav-text">Collection</span></a>
            </li>
            <li class="">
                <a href="/wallet?token={{token}}">
                    <span><i class="ri-wallet-line"></i></span>
                    <span class="nav-text">Wallet</span></a>
            </li>
            <li class="">
                <a href="/profile?token={{token}}">
                    <span><i class="ri-account-box-line"></i></span>
                    <span class="nav-text">Profile</span></a>
            </li>
            <li class="">
                <a href="/settings?token={{token}}">
                    <span><i class="ri-settings-3-line"></i></span>
                    <span class="nav-text">Settings</span></a>
            </li>
            <li class=" logout"><a href="/logout">
                    <span><i class="ri-logout-circle-line"></i></span>
                    <span class="nav-text">Signout</span>
                </a>
            </li>
        </ul>
    </div>
</div>